;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/test"]

 :dependencies
 [[cljs-http "0.1.46"]
  [prismatic/dommy "1.1.0"]
  [hipo "0.5.2"]]


 :dev-http {8080 "public"}
 :builds
 {:lorrem
  {:target :browser
   :modules {:main {:init-fn lorrem.app/init}}
   :compiler-options
   {:warnings {:redef false}} ;; suppress warnings from cljs-http 
   :build-hooks
   [(shadow.html/copy-file "src/static/index.html" "public/index.html")
    (shadow.html/copy-file "src/static/jira.css" "public/css/jira.css")]}}}